
@{
    ViewBag.Title = "All Data";
    ViewBag.Title = "All Data";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">All Employee</a></li>
    <li><a data-toggle="tab" href="#tab2">Add Employee</a></li>
</ul>

<div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
    <div id="tab2" class="tab-pane fade in">@Html.Action("AddOrEdit")</div>
</div>


<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <script>
        function activatejQueryTable() {
            $("#employeeTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });

    </script>
}