
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">All Employee</a></li>
    <li><a data-toggle="tab" href="#tab2">Add Employee</a></li>
</ul>

<div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
    <div id="tab2" class="tab-pane fade in">Tab 2</div>
</div>

